*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;

}

html{
    --black: #0D114F;   
    --white:  #FAFAFA;
    --white-fixed:  #FAFAFA;
    --red: #E83F5B;
    --ligth-blue: #E0ECFF;
    --blue: #3485FF;
    --blue-dark: #143463;
    --purple: #864bd8;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-medium: #D3D9E2;
    --grey-light: #E5EAF1;
    --grey-dark-opacity: #EAECF1;

    --hover-blue: #5699FF;
    --hover-red: #EA4B65;
    --hover-grey: #8794A7;

    /* dark-theme */

    /* --black: #FAFAFA; 
    --white:  #040911; 
    --background: #040911; 
    --overlay: #FAFAFA;  */

    /* light-theme */

    /* --black: #0D114F;   
    --white:  #FAFAFA;
    --background: #FBFCFF;
    --overlay: #040911; */




    font-size: 62.5%
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: var(--background);
    
}

body, button, input, textarea{
    /* intervalo de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw);

    font-family: 'Open-sans',sans-serif;
   /*  font-family: 'Poppins',sans-serif; */
}

.content{
    width: 100%;
    margin: 0 auto;
}

.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

/* ----------- INPUT AND BUTTONS --------- */

input,button,.button{
    border-radius: .8rem;
    height: 5rem;
}

button,.button{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue);
    color: var(--white-fixed);

    cursor: pointer;


}

button .grey, .buttons .grey{
    background: var(--grey-light);
    color: var(--grey-dark);
}

button .red, .buttons .red{
    background: var(--red);
    color: var(--white);
}

button:hover, .button:hover{
    filter: brightness(1.2);
}

button > img, .button >img{
    margin-right: 1rem;
    width: 2rem;
}

button.outlined, .button.outlined{
    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue);
}



.content header{
    width: 80%;
    margin: 3.5rem auto;
}

/* ------------------- LOGO ------------------- */

.content header a{
    display: flex;
}

.content header img{
    width: 4.4rem;
    margin-right: 1rem;

}

.content header h1{
    font-family: 'Poppins',sans-serif;
    color: var(--black);
    letter-spacing: -.1rem;
}

.content header h1:nth-child(2)::after{
    content: '.';
    color: var(--blue);
}


/*----------------- CHECKBOX MODO DARK ---------------*/

input[type=checkbox]{
    width: 0;
    height: 0;
    visibility: hidden;
}

label{
    cursor: pointer;
    text-indent: -9999px;
    width: 5.2rem;
    height: 2.7rem;
    background-color:  var(--purple);
    float: right;
    border-radius: 10rem;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: .3rem;
    left: .3rem;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 9rem;
    transition: .3s;
}

input:checked + label{
    background-color: var(--purple);
}

input:checked + label::after{
    left: calc(100%-.5rem);
    transform: translateX(130%);
}

.theme-bottom{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}
